.css-1lymaxv-MuiDataGrid-root{
    font-size: 13px;
    color: #495058 !important;
    border-collapse: collapse;
    border-spacing: 0;
    border: none !important;

    .css-1iyq7zh-MuiDataGrid-columnHeaders{
        border-bottom: none !important;
        background-color: #f7f8f9 !important;
        font-weight: 600;
    }
}
.css-2y464i-MuiInputBase-root-MuiFilledInput-root{
    background-color: #f7f8f9 !important;
    border: none !important;
}
