.MuiCollapse-root{
    margin-left: 10px;
}

.MuiListItemIcon-root{
    min-width: 40px !important;
}


.MuiButtonBase-root{
    .MuiListItem-gutters{
        padding: 0;
    }
    
    .MuiTypography-root {
        color: #292f46;
        font-size: 13px;
    }

    .css-cveggr-MuiListItemIcon-root{
        font-size: 14px;

        .MuiSvgIcon-root{
            color: #adb5bd;
        }
    }
}

.Mui-selected{
    background-color: rgba(59, 183, 126, 0.2) !important;

    .MuiSvgIcon-root{
        color: #3BB77E !important;
    }
}

