.MuiDrawer-paper{
    width: 80%;
    padding: 10px 15px;

    & .MuiTypography-root{
        margin: 10px 0px;
        font-weight: 600;
    }

    & .MuiDataGrid-columnHeaders{
        background-color: #f7f8f9;
    }
}